{% extends 'base.html.twig' %}

{% block title %}New ProductTranslation{% endblock %}

{% block body %}
    <h1>Create new ProductTranslation</h1>

    {{ include('product_translation/_form.html.twig') }}

    <a href="{{ path('product_translation_index') }}">back to list</a>
{% endblock %}
