{% extends 'base.html.twig' %}

{% block title %}
  Edit Product
{% endblock %}

{% block body %}
  <h1>
    Edit Product
  </h1>
<form name="admin_product" method="post">
    {{ include('admin/product/_form.html.twig') }}
  </form>
  

  <a href="{{ path('product_index') }}">back to list</a>

  {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
