{% extends '/admin/index.html.twig' %}

{% block title %}
  New Product
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1>
      {% trans %}product.new{% endtrans %}
    </h1>
    <form name="admin_product_new" enctype="multipart/form-data" method="post">
      {{ include('admin/product/_form.html.twig') }}
    </form>
    <a href="{{ path('product_index') }}">back to list</a>
  </div>
{% endblock %}
